
.additional-event {
    margin-top: 60px;
    &::before {
        content: "";
        position: absolute;
        height: 1.25em;
        width: 1.25em;
        right: calc(24px - .625em);
        background-color: white;
        border-radius: 50%;
        
        @media (min-width: 800px) {
            height: 1.5em;
            width: 1.5em;
            right: calc(15vw - .75em);
        }
        @media (min-width: 1224px) {
            height: 1.5em;
            width: 1.5em;
            right: calc(15vw - .75em);
        }
    }
    
}
.additional-event-detail {
    span {
        display: inline-block;
        // font-size: 24px;
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 18px;
        border-radius: 10px; 
        // background-color: rgba(255,255,255,0.75);
        // color: black;

        background-color: rgba(255, 255 , 255, 1);
        color: #0E1111;
        font-weight: bold;
        @media (min-width: 800px) {
            padding-left: 16px;
            padding-right: 16px;
            font-size: 24px;
        }
        
    }
    h3 {
        font-size: 30px;
        // text-transform: uppercase;
        @media (min-width: 800px) {
            font-size: 36px;
        }
    }
    
    p {
        margin-bottom: 6px;
        // font-size: 18px;
        @media (min-width: 800px) {
            font-size: 24px;
        }
    }

    ul {
        list-style-position: inside;
        margin-top: 24px;
        font-size: 16px;
        @media (min-width: 800px) {
            margin-top: 36px;
            font-size: 18px;
        }
        // li{
        //     direction: rtl;
        // }
    }
}
